# Compiled class files
*.class

# Log files
*.log

# BlueJ
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IDE directories
/.idea/
/.vscode/
/eclipse/
/out/
/bin/
